h1 {
  margin: 0;
}

h2 {
  margin: 5px 0;
}

.App {
  height: 100vh;
}

.top-nav {
  height: 100px;
  background: #2223;
  text-align: center;
}

.main {
  display: flex;
  height: calc( 100vh - 100px );
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;

  max-height: 100%;
  overflow-y: auto;
}

ul.files-list {
  font-size: 0.9375rem;

  max-height: 80%;
}

.left-menu {
  display: flex;
  flex-direction: column;
}

.left-menu .labels-list {
  min-height: 20%;
}

li.active {
  font-weight: bold;
}

